<div class="modal__backdrop" id="modalBackdrop"></div>

<div class="modal modal__demo" id="modalDemo">
  <div class="modal__close" data-close></div>
  <div class="modal__wrapper">
    <div class="modal__header">
      <p class="h2">Модальное окно</p>
    </div>
    <div class="modal__content">
      <p>Товарищи! новая модель организационной деятельности играет важную роль в формировании дальнейших направлений развития. Повседневная практика показывает, что постоянное информационно-пропагандистское обеспечение нашей деятельности в значительной степени обуславливает создание существенных финансовых и административных условий.</p>
        <p>Значимость этих проблем настолько очевидна, что начало повседневной работы по формированию позиции представляет собой интересный эксперимент проверки позиций, занимаемых участниками в отношении поставленных задач.</p>
    </div>
  </div>
</div>